<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moon & Flower</title>
  <link rel="stylesheet" href="/css/home.css">

  <link rel="icon" type="image/png" href="/img/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>
<body>
  <div class="home-container">
    <div class="navigation-menu">
      <ul class="nav justify-content-center">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active" href="/admin">Home</a>
        </li>
        <% if(!member) { %>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/signup">Signup</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/login">Login</a>
        </li>
        <% } else { %>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/product/all">Menu</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/user/all">Users</a>
        </li>
        <li
          class="nav-item"
          style="cursor: pointer"
          onclick="return confirm('Do you want to logout?')"
        >
          <a class="nav-link" href="/admin/logout">Logout</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
  <section class="section">
    <div class="section-wrapper">
      <header class="header">
        <hgroup class="hgroup">
          <h2 class="headline">Meet Our Team!</h2>
          <p class="tagline">Creative minds shaping the future</p>
        </hgroup>
        <a href="/admin/" class="section-link"> View All </a>
      </header>
      <!-- nth-siblings = Total cards count - 1; update this whenever you add/remove a card  -->
      <ul class="cards" style="--nth-siblings: 5">
        <li class="card" style="--nth-child: 1">
          <a href="#" class="avatar-link-wrapper">
            <div class="visual">
              <img class="avatar-img" src="https://d8bqeemxoifam.cloudfront.net/public/profile/679125cc004b8284adae19c1/c4104c43-3ae3-445c-8e78-14cecab356d2.jpeg" width="144" height="144" alt="Ethan B., DevOps Engineer" />
            </div>
            <div class="tooltiptext">
              <h3 class="team-name">Tony</h3>
              <div class="team-content-wrapper">
                <p class="team-title">DevOps Engineer</p>
                <p class="team-bio">
                  Master of servers, pipelines, and keeping things running
                  smoothly.
                </p>
              </div>
            </div>
          </a>
        </li>
        <li class="card" style="--nth-child: 2">
          <a href="#" class="avatar-link-wrapper">
            <div class="visual">
              <img class="avatar-img" src="https://d8bqeemxoifam.cloudfront.net/public/profile/671221d9f162e5aeddc5900b/79262d3f-4222-423f-a565-3f2ee79db24a.jpeg" width="144" height="144" alt="Ava L., Software Engineer" />
            </div>
            <div class="tooltiptext">
              <h3 class="team-name">Ned</h3>
              <div class="team-content-wrapper">
                <p class="team-title">Software Engineer</p>
                <p class="team-bio">
                  Tackling complex challenges with clean code and a sharp mind.
                </p>
              </div>
            </div>
          </a>
        </li>
        <li class="card" style="--nth-child: 3">
          <a href="#" class="avatar-link-wrapper">
            <div class="visual">
              <img class="avatar-img" src="https://d8bqeemxoifam.cloudfront.net/public/profile/6790d851004b8284adae166e/9783e772-83cd-4009-a9a0-f2af8dc21b28.jpeg" width="144" height="144" alt="Liam J., Idea Generator" />
            </div>
            <div class="tooltiptext">
              <h3 class="team-name">Romeo</h3>
              <div class="team-content-wrapper">
                <p class="team-title">Agent of project</p>
                <p class="team-bio">
                  Orchestrating projects with precision to bring ideas to life.
                </p>
              </div>
            </div>
          </a>
        </li>
        <li class="card" style="--nth-child: 4">
          <a href="#" class="avatar-link-wrapper">
            <div class="visual">
              <img class="avatar-img" src="/img/qobil.jpg" width="144" height="144" alt="Joseph., Data Scientist" />
            </div>
            <div class="tooltiptext">
              <h3 class="team-name">Joseph</h3>
              <div class="team-content-wrapper">
                <p class="team-title">Data Scientist</p>
                <p class="team-bio">
                  Decoding patterns and finding insights in the chaos.
                </p>
              </div>
            </div>
          </a>
        </li>
        <li class="card" style="--nth-child: 5">
          <a href="#" class="avatar-link-wrapper">
            <div class="visual">
              <img class="avatar-img" src="https://d8bqeemxoifam.cloudfront.net/public/profile/67987aef004b8284adae5168/3c01831e-7d23-479f-8485-616b3fa62f93.jpeg" width="144" height="144" alt="Kevin,  Code Assistant" />
            </div>
            <div class="tooltiptext">
              <h3 class="team-name">Kevin</h3>
              <div class="team-content-wrapper">
                <p class="team-title">Code Assistant</p>
                <p class="team-bio">
                  Powered by algorithms, driven by collaboration.
                </p>
              </div>
            </div>
          </a>
        </li>
        <li class="card" style="--nth-child: 6">
          <a href="#" class="avatar-link-wrapper">
            <div class="visual">
              <img class="avatar-img" src="https://d8bqeemxoifam.cloudfront.net/public/profile/6795dda6c413e5f4debc207f/0f71dc7d-4fec-47b1-b720-9d07d8a3c9f3.jpeg" width="144" height="144" alt="MAX,  Code Assistant" />
            </div>
            <div class="tooltiptext">
              <h3 class="team-name">MAX</h3>
              <div class="team-content-wrapper">
                <p class="team-title">Code Assistant</p>
                <p class="team-bio">
                  Powered by algorithms, driven by collaboration.
                </p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
</body>
</html>
